.header {
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.heading {
  font-family: $font-primary;
  font-size: 40px;
  color: $brand-primary;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.countdown {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.darth-dashboard {
  width: 100% !important;
  height: 100% !important;
}

.darth-hours_dash {
  clear: right !important;
}

/** End of header || BEGIN Previous Concerts **/

h2 {
  padding-top: 2rem;
  margin-bottom: 1rem;
  font-family: $font-primary;
  color: $color-gray;
  font-size: 35px;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.concerts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  iframe {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

/** End of Previous Concerts || BEGIN Tour **/

.tour {
  h1 {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    color: $text-color;
    font-family: $segoeR;

    tr {
      border: 1px solid $text-color;
      margin: 0.5rem 0;
      padding: 1rem 0;
    }

    thead {
      font-family: $segoeB;

      tr {
        padding: 0.5rem 0;
      }
    }

    thead,
    tbody {
      display: flex;
      flex-wrap: wrap;
    }

    .row {
      width: 100%;
    }

    td {
      text-transform: uppercase;
    }
  }

  svg {
    transform: rotate(-40deg);
    color: $black;
    width: 40%;

    &:hover {
      color: $brand-primary;
    }
  }
}

/** End of Tour || BEGIN Photos **/

.photos {
  iframe {
    display: block;
    margin: 0 auto !important;
  }
}
